<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VineyardViewer</title>
</head>
<body>
    <h1>VineyardViewer</h1>
    <h3>Current workspace: Vineyard {{vineyard_number}}</h3>

    <img src="{{virtual}}" alt="Virtual Vineyard Image">


    <form action="/button_plus100" method="post">
        <button type="submit">+100</button>
    </form> 

    <form action="/submit_parameters" method="post">
        <label for="pos_y">Position(Y):</label>
        <input type="text" id="pos_y" name="pos_y" required>

        <label for="pos_y">Position(X):</label>
        <input type="text" id="pos_x" name="pos_x" required>
        
        <label for="rotation">Rotation:</label>
        <input type="text" id="rotation" name="rotation" required>

        <input type="submit" value="Submit">
    </form>

    <!--
    {% if user_name %}
        <h1>Hello, {{ user_name }}!</h1>
    {% else %}
        <h1>Hello, Guest!</h1>
    {% endif %}
    -->
</body>
</html>
