<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>VineyardViewer</title>
</head>
<body>
    <div class="simple">
        <h1>VineyardViewer</h1>
        <h3>Current workspace: Vineyard {{vineyard_number}}</h3>
        <h3>Current frame: {{current_frame}}</h3>

        <form action="/button_save" method="post">
            <button type="submit">Save!</button>
        </form> 
    </div>

    <div class="simple">
        <h3>PREVIEW</h3>
        <img src="{{real}}" alt="Real Vineyard Image">
        <img src="{{virtual}}" alt="Virtual Vineyard Image">
    </div>

    <div class="simple">
        <h3>PARAMETER CONTROL</h3>
        <form action="/submit_parameters" method="post">
            <label for="pos_y">Position(Y):</label>
            <input type="text" id="pos_y" name="pos_y" value="{{current_pos_y}}" required>

            <label for="pos_y">Position(X):</label>
            <input type="text" id="pos_x" name="pos_x" value="{{current_pos_x}}" required>
            
            <label for="rotation">Rotation:</label>
            <input type="text" id="rotation" name="rotation" value="{{current_rotation}}" required>

            <label for="zoom_factor">Zoom Factor:</label>
            <input type="text" id="zoom_factor" name="zoom_factor" value="{{current_zoom_factor}}" required>

            <input type="submit" value="Set!">
        </form>
    </div>

    <div class="simple">
        <h3>FRAME CONTROL</h3>

        <form action="/button_frame_minus_100" method="post">
            <button type="submit">-100</button>
        </form> 

        <form action="/button_frame_minus_10" method="post">
            <button type="submit">-10</button>
        </form> 

        <form action="/set_frame" method="post">
            <label for="frame">Frame:</label>
            <input type="text" id="frame" name="frame" value="{{current_frame}}" required>
            <input type="submit" value="Set!">
        </form>

        <form action="/button_frame_plus_10" method="post">
            <button type="submit">+10</button>
        </form> 

        <form action="/button_frame_plus_100" method="post">
            <button type="submit">+100</button>
        </form> 

    </div>

    <!--
    {% if user_name %}
        <h1>Hello, {{ user_name }}!</h1>
    {% else %}
        <h1>Hello, Guest!</h1>
    {% endif %}
    -->
</body>
</html>
